body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: hsla(95, 75%, 75%, 1);

  background: linear-gradient(
    90deg,
    hsla(99, 75%, 75%, 1) 0%,
    hsla(15, 93%, 71%, 1) 100%
  );
}

button {
  cursor: pointer;
}
